In [9]:
from pathlib import Path
import json
import pandas as pd
import geopandas as gpd

BASE = Path('.').resolve().joinpath('data/for_db')


weights_df = pd.read_csv(BASE.joinpath('TOPIC_WEIGHTS_TABLE.csv'))
display(weights_df)

weights_df = weights_df[["case_id", "topic", "probability"]]
weights_df = weights_df[weights_df.topic <= 71]
weights_df.rename(columns={"case_id": "ics_id"}, inplace=True)
weights_df.to_csv(BASE.joinpath("TOPIC_WEIGHTS_TABLE.csv"),index=False)

                                     case_id  index   topic    probability
0       00012743-f42d-4f84-85cb-50340db92428      63    4.0   6.399682e-03
1       00012743-f42d-4f84-85cb-50340db92428      57    3.0   6.702700e-03
2       00012743-f42d-4f84-85cb-50340db92428      34   38.0   7.564223e-03
3       00012743-f42d-4f84-85cb-50340db92428      29   18.0   7.915260e-03
4       00012743-f42d-4f84-85cb-50340db92428      31   17.0   7.700276e-03
...                                      ...     ...    ...            ...
283995  fffe8ae7-a8db-4786-9e25-b020f856ab99      38   70.0  7.573487e-308
283996  fffe8ae7-a8db-4786-9e25-b020f856ab99      33   16.0  7.906009e-308
283997  fffe8ae7-a8db-4786-9e25-b020f856ab99      41   61.0  7.426202e-308
283998  fffe8ae7-a8db-4786-9e25-b020f856ab99       1   35.0   1.000000e+00
283999  fffe8ae7-a8db-4786-9e25-b020f856ab99      31   22.0  7.951539e-308

[284000 rows x 4 columns]

In [12]:
!pip install faker

Collecting faker
  Downloading Faker-18.11.1-py3-none-any.whl (1.7 MB)
     ---------------------------------------- 1.7/1.7 MB 3.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in c:\users\dkerr\miniconda3\envs\gisrede\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dkerr\miniconda3\envs\gisrede\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-18.11.1

In [20]:
import pandas as pd
import random
import string
from faker import Faker

# Set the random seed for reproducibility
random.seed(42)

# Initialize the Faker generator
fake = Faker()

# Define the length of the DataFrame
length = 71

# Generate random topic IDs
topic_ids = list(range(1, length+1))

# Generate random topic names
topic_names = [fake.word().capitalize() for _ in range(length)]
# Generate random descriptions using lorem ipsum words
topic_group = [fake.word().capitalize() for _ in range(length)]

descriptions = [fake.paragraph(nb_sentences=4) for _ in range(length)]

# Generate random narratives using lorem ipsum words
narratives = [fake.sentence(nb_words=20) for _ in range(length)]

# Create the DataFrame
df = pd.DataFrame({
    'topic_id': topic_ids,
    'topic_name': topic_names,
    'topic_group': topic_group,
    'description': descriptions,
    'narrative': narratives
})

# Print the DataFrame
df.to_csv(BASE.joinpath('TOPICS_TABLE.csv'), index=False)
display(df)

,topic_id,topic_name,topic_group,description,narrative
0,1,Customer,The,Participant billion two after poor writer food...,Appear thousand beyond guess term pay act kitc...
1,2,Head,Decide,Reason song interview ask small total short. G...,Building record page occur card guess mention ...
2,3,Popular,Phone,Region politics method loss radio billion. Ele...,Significant color born reflect stuff thing nat...
3,4,Fire,Represent,Director say figure. Everyone adult sure help....,Four capital field information range soon answ...
4,5,Onto,Executive,Or movie physical night officer. Everyone face...,Tree today compare buy again war husband what ...
...,...,...,...,...,...
66,67,Author,Still,Attention control population change old major....,Least entire foreign politics pass even campai...
67,68,Bill,Read,Kind former six east health her main. Term boy...,Citizen stock which member minute source city ...
68,69,Pull,Whose,Decision life group study son star west. Hold ...,Lose trip machine read heavy change season sis...
69,70,Matter,Begin,Manage though mention direction ok. Art box ce...,Woman pressure car candidate story difficult b...
70,71,Marriage,First,Pretty hundred national language. Age TV moder...,Manager science teacher example ever parent ab...

In [24]:
ics = pd.read_csv(BASE.joinpath('ICS_DATABASE_TABLE.csv'))
ics = ics[[x for x in ics.columns if not x in ["institution_name", "countries", "funders"]]]
ics.to_csv('ICS_DATABASE_TABLE.csv', index=False)

In [29]:
uoa_ids = sorted(ics.uoa.unique())
uoa_names = [fake.word().capitalize() for _ in range(len(ics.uoa.unique()))]
df_uoas = pd.DataFrame({
    'uoa_id': uoa_ids,
    "name": uoa_names
})
df_uoas.to_csv(BASE.joinpath('UOA_TABLE.csv'), index=False)
df_uoas

   uoa_id            name
0       1              Ok
1      10           Least
2      11           There
3      12           Least
4      13        Painting
5      14           Enter
6      15            Mean
7      16           World
8      17            Long
9      18  Administration
10     19          Become
11      2          Senior
12     20     Performance
13     21              It
14     22             Fly
15    22A            Vote
16    22B           Range
17     23            News
18     24          Dinner
19     25          Charge
20    25A              As
21    25B          Simply
22     26        Campaign
23    26A           Tough
24    26B             Few
25     27         Believe
26     28             The
27    28A         Believe
28    28B      Understand
29     29          Suffer
30      3            Five
31     30       Knowledge
32     31          Manage
33     32            Road
34    32A           Stand
35    32B       Professor
36     33          Wonder
37    33A       Situation
38    33B            Deep
39     34       Treatment
40    34A            Lose
41    34B           Thing
42     3B         Ability
43      4           Might
44      5             Gun
45      6       Certainly
46      7            Live
47      8        Majority
48      9          Family

In [34]:
df_inst = pd.read_csv(BASE.joinpath('INSTITUTES.csv'))
print(df_inst.columns)
df_inst = df_inst[['UKPRN', 'VIEW_NAME', "POSTCODE"]]
df_inst.to_csv(BASE.joinpath('INSTITUTES.csv'), index=False)

Index(['UKPRN', 'PROVIDER_NAME', 'VIEW_NAME', 'SORT_NAME', 'ALIAS',
       'FLAT_NAME_NUMBER', 'BUILDING_NAME_NUMBER', 'LOCALITY', 'STREET_NAME',
       'TOWN', 'POSTCODE', 'WEBSITE_URL', 'WIKIPEDIA_URL', 'GROUPS',
       'LONGITUDE', 'LATITUDE', 'EASTING', 'NORTHING', 'GTR_ID', 'HESA_ID'],
      dtype='object')