In [8]:
from pathlib import Path
import pandas as pd
import ast
ICS_CSV = r"C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\src\dashboard\api\app\data\db-data\ICS_DATABASE_TABLE.csv"
COUNTRIES_CSV = r"C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\src\dashboard\api\app\data\db-data\ICS_TO_COUNTRY_LOOKUP_TABLE.csv"
df = pd.read_csv(ICS_CSV)
df_template = pd.read_csv(COUNTRIES_CSV)
display(df.head(1))
display(df_template.head())
print(df.columns)

,id,ukprn,institution_name,main_panel,unit_of_assessment_number,unit_of_assessment_name,multiple_submission_letter,multiple_submission_name,joint_submission,ics_id,...,references_to_the_research,details_of_the_impact,sources_to_corroborate_the_impact,covid_statement,uoa,countries_iso3,inst_postcode,inst_postcode_district,postcode,ics_url
0,0,10007144,University of East London,C,21,Sociology,NaN,NaN,NaN,1e6e075e-d5f5-421c-bb45-2708636b5190,...,\n### 3. References to the research \(indicat...,\n### 4. Details of the impact \(indicative m...,\n### 5. Sources to corroborate the impact \(...,NaN,21,"['ITA', 'SWE', 'NLD', 'IRL', 'GBR', 'JOR', 'LBN']",E16 2RD,E16,E,https://results2021.ref.ac.uk/impact/1e6e075e-...

   id  ics_table_id country
0   0             0     ITA
1   1             0     SWE
2   2             0     NLD
3   3             0     IRL
4   4             0     GBR

Index(['id', 'ukprn', 'institution_name', 'main_panel',
       'unit_of_assessment_number', 'unit_of_assessment_name',
       'multiple_submission_letter', 'multiple_submission_name',
       'joint_submission', 'ics_id', 'title', 'is_continued_from_2014',
       'summary_impact_type', 'countries', 'formal_partners',
       'funding_programmes', 'global_research_identifiers', 'name_of_funders',
       'researcher_orcids', 'grant_funding', 'summary_of_the_impact',
       'underpinning_research', 'references_to_the_research',
       'details_of_the_impact', 'sources_to_corroborate_the_impact',
       'covid_statement', 'uoa', 'countries_iso3', 'inst_postcode',
       'inst_postcode_district', 'postcode', 'ics_url'],
      dtype='object')

In [13]:
df_iso = df[['id', 'countries_iso3']]
df_iso['country'] = df_iso.countries_iso3.apply(ast.literal_eval)
df_iso = df_iso[['id', 'country']]
df_iso = df_iso.explode('country')
df_iso = df_iso.rename(columns={'id': 'ics_table_id'})
df_iso.reset_index(inplace=True)
df_iso['id'] = df_iso.index.copy().astype(int)
df_iso = df_iso[['id', 'ics_table_id', 'country']]

C:\Users\dkerr\AppData\Local\Temp\ipykernel_21076\1775739609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_iso['country'] = df_iso.countries_iso3.apply(ast.literal_eval)